@media (min-width: 1200px) and (max-width: 1399.99px) {

    /*================================
        HOME PAGE START
    ================================*/
    .tf__single_slider_text h1,
    .tf__single_slider_text h1 span {
        font-size: 55px
    }

    .tf__section_heading h3 {
        font-size: 40px;
    }

    .tf__featured_service_single h3,
    .tf__contact_info h3 {
        font-size: 20px;
    }

    .tf_about_text_center {
        padding: 25px;
    }

    .tf__about .tf__section_heading {
        margin-bottom: 52px !important;
    }

    .tf_about_text_center_user_text {
        width: 77%;
    }

    .tf_about_text_center_user_call p {
        font-size: 15px;
    }

    .tf__about_img {
        width: 450px;
        height: 500px;
    }

    .tf__about_img .large_img_2,
    .tf__about_img .large_img_3 {
        width: 195px !important;
        height: 150px !important;
    }

    .tf__single_categories h4 {
        font-size: 20px;
    }

    .tf__services_img {
        width: 190px;
    }

    .tf__services_text {
        width: 58%;
    }

    .read_btn {
        padding: 8px 25px;
    }

    .tf__work_single {
        border: 20px solid var(--colorBlack);
        width: 300px;
        height: 300px;
    }

    .tf__work_single.first {
        margin-left: 53px;
    }

    .tf__work_single.third {
        margin-right: 53px;
    }

    .tf__gallery_filter button {
        font-size: 15px;
    }

    .tf__gallery_item .gal_img_overlay {
        width: 315px;
    }

    .tf__gallery_item:hover span {
        left: 293px;
    }

    .tf__single_team_img {
        height: 360px;
    }

    .tf__single_blog_img {
        width: 240px;
    }

    .tf__single_blog_text {
        width: 55%;
    }

    .tf__single_blog_text .title,
    .tf__featured_blog_text .title {
        font-size: 22px;
    }

    .tf__featured_blog_img {
        height: 370px;
    }

    /*================================
        HOME PAGE END
    ================================*/






}



@media (min-width: 992px) and (max-width: 1199.99px) {

    /*================================
        HOME PAGE START
    ================================*/
    .tf__topbar_left li a,
    .tf__topbar_left li p {
        margin-right: 15px;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        padding: 0px 10px;
    }

    .tf__single_slider_text h1,
    .tf__single_slider_text h1 span {
        font-size: 50px;
    }

    .tf__about .tf__section_heading {
        margin-bottom: 53px !important;
    }

    .tf__about_img {
        width: auto;
        height: 450px;
    }

    .tf__about_img .large_img_2,
    .tf__about_img .large_img_3 {
        width: 170px !important;
        height: 140px !important;
    }

    .tf_about_text_center {
        padding: 15px;
    }

    .tf_about_text_center_user_text {
        width: 74%;
    }

    .tf_about_text_center_user_call p {
        width: 78%;
    }

    .tf__services_img {
        width: 170px;
        height: 235px;
    }

    .tf__services_text {
        width: 58%;
        padding-right: 15px;
    }

    .tf__services_item {
        padding: 0;
    }

    .read_btn {
        padding: 8px 20px;
        font-size: 13px;
    }

    .tf__services_btn_area p {
        font-size: 13px;
    }

    .tf__services_text p {
        -webkit-line-clamp: 2;
    }

    .tf__why_choose_img .large_img {
        width: 400px;
    }

    .tf__why_choose_img .small_img {
        width: 330px;
        height: 250px;
    }

    .tf__why_choose_img .small_img::after {
        bottom: 25px;
        left: 25px;
    }

    .tf__why_choose_img .venobox {
        top: 290px;
        left: 10px;
    }

    .tf__work_single {
        border: 15px solid var(--colorBlack);
        width: 245px;
        height: 245px;
    }

    .tf__work_single.first {
        margin-left: 47px;
    }

    .tf__work_single.third {
        margin-right: 47px;
    }

    .tf__work_text_area::after {
        background-size: contain;
    }

    .tf__gallery_item {
        height: 280px;
    }

    .tf__gallery_item .gal_img_overlay h4 {
        font-size: 18px;
    }

    .tf__gallery_item .gal_img_overlay {
        width: 250px;
        padding: 45px 0px 15px 15px;
    }

    .tf__gallery_item:hover span {
        left: 230px;
    }

    .tf__gallery_item .venobox span {
        bottom: 13px;
    }

    .tf__section_heading h3 {
        font-size: 35px;
    }

    .tf__gallery {
        margin-top: 80px !important;
    }

    .tf__gallery_filter button {
        font-size: 14px;
        padding: 5px 13px;
        margin-left: 10px;
    }

    .vbox-content {
        max-width: 700px;
        max-height: 450px;
    }

    .tf__single_counter_center {
        width: 180px;
        height: 180px;
    }

    .tf__single_counter_center h2 {
        width: 143px;
        height: 143px;
        line-height: 143px;
    }

    .tf__single_counter_center::after {
        left: 41%;
    }

    .tf__single_counter_center::before {
        left: 57%;
    }

    .tf__single_counter p {
        font-size: 20px;
        margin-top: 15px;
    }

    .tf__single_team_img {
        height: 290px;
    }

    .tf__single_team_text .title {
        font-size: 20px;
    }

    .tf__single_testimonial_text .title {
        font-size: 20px;
    }

    .tf__single_blog_img {
        width: 200px;
        height: 270px;
    }

    .tf__single_blog_text {
        width: 54%;
        padding: 0px 10px;
    }

    .tf__single_blog_text .title {
        font-size: 20px;
    }

    .tf__featured_blog_text {
        width: 95%;
        padding: 15px;
    }

    .tf__featured_blog_text .title {
        font-size: 20px;
    }

    .tf__featured_blog_img {
        height: 376px;
    }

    /*================================
        HOME PAGE END
    ================================*/







}



@media (min-width: 768px) and (max-width: 991.99px) {

    /*================================
        HOME PAGE START
    ================================*/
    /* topbar start */
    .tf__topbar {
        height: auto;
        padding: 5px 0px 7px 0px;
        position: static;
    }

    .tf__topbar_left {
        justify-content: center !important;
    }

    .tf__topbar_left li a i,
    .tf__topbar_left li p i {
        width: 25px;
        height: 25px;
        line-height: 27px;
        margin-right: 0;
        font-size: 13px;
    }

    .tf__topbar_right {
        display: none !important;
    }

    /* topbar end */


    /* menu start */
    .main_menu {
        height: 75px;
        top: 60px;
        border-bottom: 1px solid var(--colorPrimary);
    }

    .main_menu .navbar-brand {
        max-width: 120px;
    }

    .main_menu .navbar-toggler {
        width: 35px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        background: var(--colorPrimary);
        color: var(--colorWhite);
        border: none;
        border-radius: 2px;
    }

    .main_menu .container {
        padding-top: 4px;
        padding-bottom: 7px;
    }

    .main_menu .navbar-nav {
        background: var(--colorWhite);
        border-top: 1px solid var(--colorPrimary);
        margin-top: 12px !important;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        padding: 0px;
        line-height: 55px;
        text-align: center;
    }

    .main_menu .menu_right {
        background: var(--colorWhite);
        border-bottom: 1px solid var(--colorPrimary);
        padding-bottom: 20px;
        justify-content: center;
    }

    .main_menu .tf__droap_menu {
        max-height: 240px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .tf__search_form form {
        width: 70%;
    }

    /* menu end */

    /* banner start */
    .tf__banner {
        height: auto;
        padding-top: 72px;
        overflow: hidden;
    }

    .tf__single_slider_text h1 {
        font-size: 40px;
    }

    .tf__single_slider_text h1 span {
        font-size: 40px;
    }

    .tf__single_slider_text p {
        font-size: 16px;
        margin-bottom: 33px;
    }

    .tf__single_slider_text ul li {
        margin-bottom: 15px;
    }

    .tf__single_slider_text {
        margin-top: 115px;
        margin-bottom: 105px;
        padding: 0px 10px;
    }

    /* banner end */

    /* future service start */
    .tf__section_heading h3 {
        font-size: 35px;
    }

    .related_service_slider .nextArrow,
    .related_service_slider .prevArrow,
    .testi_slider .nextArrow,
    .testi_slider .prevArrow,
    .futured_slider .nextArrow,
    .futured_slider .prevArrow {
        top: -110px;
        width: 30px;
        height: 30px;
        line-height: 28px;
        font-size: 14px;
    }

    .related_service_slider .prevArrow,
    .testi_slider .prevArrow,
    .futured_slider .prevArrow {
        right: 50px;
    }

    .tf__featured_service_single h3,
    .tf__contact_info h3 {
        font-size: 20px;
    }

    .tf__featured_service_single span,
    .tf__contact_info span {
        width: 76px;
        height: 86px;
        line-height: 86px;
        font-size: 35px;
    }

    .tf__featured_service_single,
    .tf__contact_info {
        padding-top: 80px;
    }

    /* future service end */


    /* about start */
    .tf__about_text {
        padding-right: 0;
        margin-bottom: 25px;
    }

    .tf_about_text_center {
        padding: 20px;
    }

    .tf_about_text_center_user_call p a {
        font-size: 14px;
    }

    .tf__about_img {
        margin: 0;
        width: 450px;
        height: 450px;
        float: left;
        margin-bottom: 40px;
    }

    .tf__about_img .large_img_2,
    .tf__about_img .large_img_3 {
        width: 195px !important;
        height: 150px !important;
        bottom: -40px;
    }

    .tf__about_img .venobox,
    .tf__why_choose_img .venobox {
        top: 90px;
        left: 60px;
        transform: none;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .tf__about_img .venobox::after,
    .tf__why_choose_img .venobox::after {
        width: 60px;
        height: 60px;
        border: 3px solid var(--colorPrimary);
        top: -5px;
        left: -5px;
    }

    /* about end */


    /* service start */
    .tf__services_text {
        width: 66%;
    }

    .tf__blog_2 .common_btn,
    .tf__testimonial_2 .common_btn,
    .tf__team_2 .common_btn,
    .tf__services_2 .common_btn,
    .tf__services .common_btn,
    .tf__team .common_btn,
    .tf__blog .common_btn {
        top: 16px;
    }

    /* service end */


    /* why choose start */
    .tf__why_choose_text {
        margin-bottom: 25px;
    }

    .tf__why_choose_img .large_img {
        width: 370px;
        height: 350px;
    }

    .tf__why_choose_img .small_img {
        width: 270px;
        height: 220px;
    }

    .tf__why_choose_img .small_img::after {
        bottom: 20px;
        left: 20px;
    }

    .tf__work_text_area {
        padding-bottom: 35px;
    }

    .tf__why_choose .tf__section_heading {
        margin-bottom: 50px !important;
    }

    /* why choose end */


    /* work start */
    .tf__work_single {
        border: 15px solid var(--colorBlack);
        width: 200px;
        height: 200px;
        margin: 0 auto !important;
    }

    .tf__work_single h4 {
        font-size: 18px;
    }

    .tf__work_text_area::after {
        display: none;
    }

    .tf__work .tf__section_heading {
        margin-bottom: 55px !important;
    }

    /* work end */


    /* gallery start */
    .tf__gallery_filter {
        text-align: center;
    }

    .tf__gallery_item {
        height: 300px;
    }

    .tf__gallery_item .gal_img_overlay {
        width: 90%;
        padding: 40px 0px 10px 10px;
    }

    .tf__gallery_item .gal_img_overlay h4 {
        font-size: 18px;
    }

    .tf__gallery_item:hover span {
        left: 83%;
    }

    .tf__gallery_item .venobox span {
        bottom: 35px;
    }

    .tf__gallery_filter button {
        margin-top: 3px;
    }

    .vbox-content {
        max-width: 85%;
    }

    /* gallery end */

    /* counter start */
    .tf__counter {
        margin-bottom: -20px;
    }

    .tf__single_counter p {
        margin-top: 5px;
        margin-bottom: 20px;
    }

    /* counter end */

    /* team start */
    .tf__single_team_img {
        height: 350px;
    }

    .tf__single_team_text .title {
        font-size: 18px;
    }

    /* team end */

    /* testimonial start */
    .testi_slider .nextArrow,
    .testi_slider .prevArrow {
        top: -102px;
    }

    .tf__single_testimonial_text .title {
        font-size: 20px;
    }

    /* testimonial end */


    /* blog start */
    .tf__single_blog_text {
        width: 63%;
    }

    .tf__single_blog_text ul li {
        margin-bottom: 5px;
    }

    .tf__single_blog_text .title {
        font-size: 19px;
    }

    /* blog end */


    /* footer start */
    .tf__footer_subscribe {
        padding: 40px;
        border-radius: 10px;
        top: -60px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .tf__footer_subscribe_text p {
        margin: 10px 0px 10px 0px;
    }

    .tf__footer_subscribe_form button {
        padding: 7px 20px;
    }

    .tf__footer_subscribe_form input {
        padding: 12px 20px;
    }

    .tf__footer_logo_area .footer_logo {
        max-width: 150px;
    }

    .tf__footer_logo_area {
        margin-bottom: 40px;
    }

    .tf__footer_link h4 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .tf__footer_link {
        margin-bottom: 40px;
    }

    .tf__footer .md_padding {
        padding-bottom: 45px !important;
    }

    /* footer end */
    /*================================
        HOME PAGE END
    ================================*/


}



@media (min-width: 576px) and (max-width: 767.99px) {

    /*================================
        HOME PAGE START
    ================================*/
    /* topbar start */
    .tf__topbar {
        height: auto;
        padding: 5px 0px 7px 0px;
        position: static;
    }

    .tf__topbar_left {
        justify-content: center !important;
    }

    .tf__topbar_left li:first-child {
        display: none;
    }


    .tf__topbar_left li a i,
    .tf__topbar_left li p i {
        width: 25px;
        height: 25px;
        line-height: 27px;
        margin-right: 0;
        font-size: 13px;
    }

    .tf__topbar_right {
        display: none !important;
    }

    /* topbar end */


    /* menu start */
    .main_menu {
        height: 75px;
        top: 60px;
        border-bottom: 1px solid var(--colorPrimary);
    }

    .main_menu .navbar-brand {
        max-width: 120px;
    }

    .main_menu .navbar-toggler {
        width: 35px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        background: var(--colorPrimary);
        color: var(--colorWhite);
        border: none;
        border-radius: 2px;
    }

    .main_menu .container {
        padding-top: 4px;
        padding-bottom: 7px;
    }

    .main_menu .navbar-nav {
        background: var(--colorWhite);
        border-top: 1px solid var(--colorPrimary);
        margin-top: 12px !important;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        padding: 0px;
        line-height: 55px;
        text-align: center;
    }

    .main_menu .menu_right {
        background: var(--colorWhite);
        border-bottom: 1px solid var(--colorPrimary);
        padding-bottom: 20px;
        justify-content: center;
    }

    .main_menu .tf__droap_menu {
        max-height: 240px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .tf__search_form form {
        width: 70%;
    }

    /* menu end */

    /* banner start */
    .tf__banner {
        height: auto;
        padding-top: 72px;
        overflow: hidden;
    }

    .tf__single_slider_text h1 {
        font-size: 40px;
    }

    .tf__single_slider_text h1 span {
        font-size: 40px;
    }

    .tf__banner .slick-dots {
        display: none !important;
    }

    .tf__single_slider_text p {
        font-size: 16px;
        margin-bottom: 33px;
    }

    .tf__single_slider_text ul li {
        margin-bottom: 15px;
    }

    .tf__single_slider_text {
        margin-top: 65px;
        margin-bottom: 55px;
        padding: 0px 10px;
    }

    /* banner end */

    /* future service start */
    .tf__section_heading h5 {
        font-size: 18px;
    }

    .tf__section_heading h5::after {
        height: 24px;
    }

    .tf__section_heading h3 {
        font-size: 30px;
    }

    .related_service_slider .nextArrow,
    .related_service_slider .prevArrow,
    .testi_slider .nextArrow,
    .testi_slider .prevArrow,
    .futured_slider .nextArrow,
    .futured_slider .prevArrow {
        top: -122px;
        width: 30px;
        height: 30px;
        line-height: 28px;
        font-size: 14px;
    }

    .related_service_slider .prevArrow,
    .testi_slider .prevArrow,
    .futured_slider .prevArrow {
        right: 50px;
    }

    .tf__featured_service_single h3,
    .tf__contact_info h3 {
        font-size: 20px;
    }

    .tf__featured_service_single span,
    .tf__contact_info span {
        width: 76px;
        height: 86px;
        line-height: 86px;
        font-size: 35px;
    }

    .tf__featured_service_single,
    .tf__contact_info {
        padding-top: 80px;
    }

    /* future service end */


    /* about start */
    .tf__about_text {
        padding-right: 0;
        margin-bottom: 25px;
    }

    .tf_about_text_center {
        padding: 20px;
    }

    .tf_about_text_center_user_call p a {
        font-size: 14px;
    }

    .tf__about_img {
        margin: 0;
        width: 350px;
        height: 350px;
        float: left;
        margin-bottom: 40px;
    }

    .tf__about_img .large_img_2,
    .tf__about_img .large_img_3 {
        width: 150px !important;
        height: 120px !important;
        bottom: -40px;
    }

    .tf__about_img .venobox,
    .tf__why_choose_img .venobox {
        top: 20px;
        left: auto;
        right: 20px;
        transform: none;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .tf__about_img .venobox::after,
    .tf__why_choose_img .venobox::after {
        width: 60px;
        height: 60px;
        border: 3px solid var(--colorPrimary);
        top: -5px;
        left: -5px;
    }

    /* about end */


    /* category start */
    .tf__single_categories h4 {
        font-size: 20px;
    }

    /* category end */


    /* service start */
    .tf__services_item {
        padding: 0;
    }

    .tf__services_img {
        width: 100%;
        height: 300px;
    }

    .tf__services_text {
        width: 100%;
        padding: 25px;
    }

    .read_btn {
        padding: 8px 20px;
        font-size: 15px;
    }

    .tf__blog_2 .common_btn,
    .tf__testimonial_2 .common_btn,
    .tf__team_2 .common_btn,
    .tf__services_2 .common_btn,
    .tf__services .common_btn,
    .tf__team .common_btn,
    .tf__blog .common_btn {
        position: static;
        margin-top: 25px;
    }

    /* service end */


    /* why choose start */
    .tf__why_choose_text {
        margin-bottom: 25px;
    }

    .tf__why_choose_img .large_img {
        width: 290px;
        height: 290px;
    }

    .tf__why_choose_img .small_img {
        width: 200px;
        height: 150px;
    }

    .tf__why_choose_img .small_img::after {
        bottom: 20px;
        left: 20px;
    }

    .tf__work_text_area {
        padding-bottom: 35px;
    }

    /* why choose end */


    /* work start */
    .tf__work_text_area::after {
        display: none;
    }

    .tf__work_single.first {
        margin-left: 0;
    }

    .tf__work_single {
        border: 20px solid var(--colorBlack);
        width: 270px;
        height: 270px;
        margin: 25px auto 0 auto !important;
    }

    /* work end */


    /* gallery start */
    .tf__gallery_filter {
        text-align: center;
    }

    .tf__gallery_filter button {
        font-size: 13px;
        padding: 5px 13px;
        margin: 5px 5px 0px 5px;
    }

    .tf__gallery_item {
        height: 250px;
    }

    .tf__gallery_item .gal_img_overlay {
        width: 90%;
        padding: 40px 0px 10px 10px;
    }

    .tf__gallery_item .gal_img_overlay h4 {
        font-size: 18px;
    }

    .tf__gallery_item:hover span {
        left: 83%;
    }

    .tf__gallery_item .venobox span {
        bottom: 35px;
    }

    .vbox-content {
        max-width: 85%;
    }

    /* gallery end */

    /* team start */
    .tf__single_team_img {
        height: 250px;
    }

    .tf__single_team_text .title {
        font-size: 18px;
    }

    /* team end */


    /* testimonial start */
    .testi_slider .nextArrow,
    .testi_slider .prevArrow {
        top: -102px;
    }

    .tf__single_testimonial_text .title {
        font-size: 20px;
    }

    /* testimonial end */


    /* blog start */
    .tf__single_blog_img {
        width: 100%;
        height: 300px;
        border-radius: 5px;
    }


    .tf__single_blog_text {
        width: 100%;
        padding: 25px;
    }

    .tf__single_blog_text ul li {
        margin-bottom: 5px;
    }

    .tf__single_blog_text .title {
        font-size: 19px;
    }

    .tf__featured_blog_img {
        width: 100%;
        height: 300px;
    }

    .tf__featured_blog_text {
        width: 100%;
        margin: 0;
        padding: 25px;
    }

    .tf__featured_blog_text .title {
        font-size: 19px;
    }

    /* blog end */


    /* footer start */
    .tf__footer_subscribe {
        padding: 25px;
        border-radius: 10px;
        top: -60px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .tf__footer_subscribe_text p {
        margin: 10px 0px 10px 0px;
    }

    .tf__footer_subscribe_form button {
        padding: 7px 20px;
    }

    .tf__footer_subscribe_form input {
        padding: 12px 20px;
    }



    .tf__footer_logo_area .footer_logo {
        max-width: 150px;
    }

    .tf__footer_logo_area p {
        margin: 15px 0px;
    }

    .tf__footer_logo_area {
        margin-bottom: 40px;
    }

    .tf__footer_link h4 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .tf__footer_link {
        margin-bottom: 40px;
    }

    .tf__footer_link p {
        margin-top: 15px;
    }

    /* footer end */
    /*================================
        HOME PAGE END
    ================================*/

}





@media (max-width: 575.99px) {

    /*================================
        HOME PAGE START
    ================================*/
    /* topbar start */
    .tf__topbar {
        height: auto;
        padding: 5px 0px 7px 0px;
        position: static;
    }

    .tf__topbar_left li:first-child {
        display: none;
    }

    .tf__topbar_left li,
    .tf__topbar_left li {
        width: 100%;
    }

    .tf__topbar_left li a,
    .tf__topbar_left li p {
        margin: 0;
        line-height: 35px;
    }

    .tf__topbar_left li a i,
    .tf__topbar_left li p i {
        width: 25px;
        height: 25px;
        line-height: 27px;
        margin-right: 0;
        font-size: 13px;
    }

    .tf__topbar_right {
        display: none !important;
    }

    /* topbar end */


    /* menu start */
    .main_menu {
        height: 75px;
        top: 81px;
        border-bottom: 1px solid var(--colorPrimary);
    }

    .main_menu .navbar-brand {
        max-width: 120px;
        margin-left: 12px;
    }

    .main_menu .navbar-toggler {
        width: 35px;
        height: 35px;
        line-height: 35px;
        padding: 0;
        background: var(--colorPrimary);
        color: var(--colorWhite);
        border: none;
        border-radius: 2px;
        margin-right: 12px;
    }

    .main_menu .container {
        padding: 4px 0px 8px 0px;
    }

    .main_menu .navbar-nav {
        background: var(--colorWhite);
        border-top: 1px solid var(--colorPrimary);
        margin-top: 12px !important;
    }

    .main_menu .navbar-nav .nav-item .nav-link {
        padding: 0px;
        line-height: 55px;
        text-align: center;
    }

    .main_menu .menu_right {
        background: var(--colorWhite);
        border-bottom: 1px solid var(--colorPrimary);
        padding-bottom: 20px;
        justify-content: center;
    }

    .main_menu .tf__droap_menu {
        max-height: 240px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }

    .tf__search_form form {
        width: 90%;
    }

    /* menu end */

    /* banner start */
    .tf__banner {
        height: auto;
        padding-top: 74px;
        overflow: hidden;
    }

    .tf__single_slider_text h1 {
        font-size: 33px;
    }

    .tf__single_slider_text h1 span {
        font-size: 33px;
    }

    .tf__banner .slick-dots {
        display: none !important;
    }

    .tf__single_slider_text p {
        font-size: 16px;
        margin-bottom: 33px;
    }

    .tf__single_slider_text ul li {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .tf__single_slider_text ul li span {
        margin-left: 10px;
    }

    .tf__single_slider_text {
        margin-top: 65px;
        margin-bottom: 55px;
        padding: 0px 10px;
    }

    /* banner end */

    /* future service start */
    .tf__section_heading h5 {
        font-size: 18px;
    }

    .tf__section_heading h5::after {
        height: 24px;
    }

    .tf__section_heading h3 {
        font-size: 25px;
    }

    .related_service_slider .nextArrow,
    .related_service_slider .prevArrow,
    .testi_slider .nextArrow,
    .testi_slider .prevArrow,
    .futured_slider .nextArrow,
    .futured_slider .prevArrow {
        top: -122px;
        width: 30px;
        height: 30px;
        line-height: 28px;
        font-size: 14px;
    }

    .related_service_slider .prevArrow,
    .testi_slider .prevArrow,
    .futured_slider .prevArrow {
        right: 50px;
    }

    .tf__featured_service_single h3,
    .tf__contact_info h3 {
        font-size: 20px;
    }

    .tf__featured_service_single span,
    .tf__contact_info span {
        width: 76px;
        height: 86px;
        line-height: 86px;
        font-size: 35px;
    }

    .tf__featured_service_single,
    .tf__contact_info {
        padding-top: 80px;
    }

    /* future service end */


    /* about start */
    .tf__about_text {
        padding-right: 0;
        margin-bottom: 25px;
    }

    .tf_about_text_center {
        padding: 20px;
    }

    .tf_about_text_center_user_text {
        width: 100%;
        margin-top: 15px;
    }

    .tf_about_text_center_user_call p {
        width: 75%;
        font-size: 15px;
    }

    .tf_about_text_center_user_call p a {
        font-size: 14px;
    }

    .tf__about_img {
        margin: 0;
        width: 290px;
        height: 290px;
        float: left;
        margin-bottom: 40px;
    }

    .tf__about_img .large_img_2,
    .tf__about_img .large_img_3 {
        width: 115px !important;
        height: 115px !important;
        bottom: -40px;
    }

    .tf__about_img .venobox,
    .tf__why_choose_img .venobox {
        top: 20px;
        left: auto;
        right: 20px;
        transform: none;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .tf__about_img .venobox::after,
    .tf__why_choose_img .venobox::after {
        width: 60px;
        height: 60px;
        border: 3px solid var(--colorPrimary);
        top: -5px;
        left: -5px;
    }

    .tf__about_img::after {
        top: 15px;
        right: -15px;
    }

    /* about end */


    /* category start */
    .tf__single_categories h4 {
        font-size: 20px;
    }

    /* category end */


    /* service start */
    .tf__services_item {
        padding: 0;
    }

    .tf__services_img {
        width: 100%;
        height: 250px;
        margin-bottom: 10px;
    }

    .tf__services_text {
        width: 100%;
        padding: 10px;
    }

    .read_btn {
        padding: 8px 20px;
        font-size: 15px;
    }

    .tf__blog_2 .common_btn,
    .tf__testimonial_2 .common_btn,
    .tf__team_2 .common_btn,
    .tf__services_2 .common_btn,
    .tf__services .common_btn,
    .tf__team .common_btn,
    .tf__blog .common_btn {
        position: static;
        margin-top: 25px;
    }

    /* service end */


    /* why choose start */
    .tf__why_choose_text ul li {
        width: 100%;
    }

    .tf__why_choose_text {
        margin-bottom: 25px;
    }

    .tf__why_choose_img .large_img {
        width: 260px;
        height: 270px;
    }

    .tf__why_choose_img .small_img {
        width: 200px;
        height: 150px;
    }

    .tf__why_choose_img .small_img::after {
        bottom: 20px;
        left: 20px;
    }

    .tf__work_text_area {
        padding-bottom: 35px;
    }

    /* why choose end */


    /* work start */
    .tf__work_text_area::after {
        display: none;
    }

    .tf__work_single.first {
        margin-left: 0;
    }

    .tf__work_single {
        border: 15px solid var(--colorBlack);
        width: 270px;
        height: 270px;
        margin: 25px auto 0 auto !important;
    }

    /* work end */


    /* gallery start */
    .tf__gallery_filter {
        text-align: center;
    }

    .tf__gallery_filter button {
        font-size: 13px;
        padding: 5px 13px;
        margin: 5px 5px 0px 5px;
    }

    .tf__gallery_item {
        height: 300px;
    }

    .tf__gallery_item .gal_img_overlay {
        width: 90%;
        padding: 40px 0px 10px 10px;
    }

    .tf__gallery_item .gal_img_overlay h4 {
        font-size: 18px;
    }

    .tf__gallery_item:hover span {
        left: 83%;
    }

    .tf__gallery_item .venobox span {
        bottom: 35px;
    }

    .vbox-content {
        max-width: 320px;
        max-height: 280px;
    }

    /* gallery end */


    /* counter start */
    .tf__single_counter p {
        font-size: 20px;
        margin-top: 5px;
    }

    /* counter end */


    /* team start */
    .tf__single_team_img {
        height: 300px;
    }

    .tf__single_team_text .title {
        font-size: 18px;
    }

    /* team end */


    /* testimonial start */
    .testi_slider .nextArrow,
    .testi_slider .prevArrow {
        top: -102px;
    }

    .tf__single_testimonial_text .title {
        font-size: 20px;
    }

    /* testimonial end */


    /* blog start */
    .tf__single_blog_img {
        width: 100%;
        height: 250px;
        border-radius: 5px;
        margin-bottom: 10px;
    }

    .tf__single_blog_text {
        width: 100%;
        padding: 10px;
    }

    .tf__single_blog_text ul li {
        margin-bottom: 5px;
    }

    .tf__single_blog_text .title {
        font-size: 19px;
    }

    .tf__featured_blog_img {
        width: 100%;
        height: 250px;
    }

    .tf__featured_blog_text {
        width: 100%;
        margin: 0;
        padding: 10px;
        margin-top: 10px;
    }

    .tf__featured_blog_text .title {
        font-size: 19px;
    }

    /* blog end */


    /* footer start */
    .tf__footer_subscribe {
        padding: 15px;
        border-radius: 10px;
        top: -60px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }

    .tf__footer_subscribe_text h4 {
        font-size: 19px;
        text-align: center;
    }

    .tf__footer_subscribe_text p {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-align: center;
        margin: 10px 0px 10px 0px;
    }

    .tf__footer_subscribe_form button {
        padding: 7px 20px;
    }

    .tf__footer_subscribe_form input {
        padding: 12px 20px;
    }



    .tf__footer_logo_area .footer_logo {
        max-width: 150px;
    }

    .tf__footer_logo_area p {
        margin: 15px 0px;
    }

    .tf__footer_logo_area {
        margin-bottom: 40px;
    }

    .tf__footer_link h4 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .tf__footer_link {
        margin-bottom: 40px;
    }

    .tf__footer_link p {
        margin-top: 15px;
    }

    /* footer end */
    /*================================
        HOME PAGE END
    ================================*/












}